{% extends "blog/base.html" %}
{% load timetags %}
{% block content %}
    {% for post in posts%}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'view-user-profile' view_user=post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
              <small class="text-muted">{{ post.date_posted|print_timestamp }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}
{% endblock %}
