{% extends "blog/base.html" %}
{% load timetags %}
{% block content %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'view-user-profile' view_user=object.author.username %}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
          <small class="text-muted">{{ object.date_posted|print_timestamp }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
           {% if user == object.author %}
                <div class="form-group">

                        <a class="btn btn-outline-info" type="submit" href="{% url 'blog-update' object.pk %}">Update</a>
                        <a class="btn btn-outline-danger" type="submit" href="{% url 'blog-delete' object.pk %}">Delete</a>
                </div>

          {% endif %}
      </div>


    </article>

{% endblock %}
